/3.11.22registration.html
/create.php
/data.xml
/delete.php
/diagram1.drawio
/index.html
/js.html
/lab3.html
/lab4.css
/lab4.html
/lab4.php
/media.html
/network.html
/new.html
/page.html
/script.js
/update.php
/Практические задания - 2022.pdf
/css/styles.css
/css/page_style.css
/css/network_style.css
/css/style.css
/img
